**target/
**/build/

**/temp/
**/.settings/
*.log

.DS_Store
.Thumbs.db
*.pbitmp

.env

.ideal/
.vscode/

venv/
.venv/
python/venv/
*.pbix


# Python
__pycache__/
*.pyc
.env

# dbt
target/
dbt_packages/
logs/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Docker
*.log