<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.talend.designer.runprocess.jobLaunchConfiguration">
<stringAttribute key="CURRENT_PROJECT_NAME" value="ecotrack"/>
<stringAttribute key="JOB_PROJECT_TECH_LABEL" value="ECOTRACK"/>
<stringAttribute key="TALEND_JOB_ID" value="_jg0toPMQEfCTlrqeeUj6oQ"/>
<stringAttribute key="TALEND_JOB_NAME" value="jdim_agent"/>
<stringAttribute key="TALEND_JOB_VERSION" value="0.1"/>
</launchConfiguration>
